<!DOCTYPE html>
<html>

    <head>
        <title>Page Title</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
            rel="stylesheet"
        >
        <style>
            :root {
                --main-color: #2af598;
                --main-color-dark: #0a1e1a;
            }

            body {
                background: rgb(2, 0, 36);
                background: linear-gradient(180deg, #0a1e1a 0%, #19435e 100%);
                color: white;
                font-family: 'Montserrat', sans-serif;
                text-rendering: optimizeLegibility;
                font-smooth: always;
                font-size: 12px;
            }

            input+label {
                border: 1px solid white;
                background-color: transparent;
            }

            input:checked+label {
                border: 1px solid var(--main-color);
                background-color: var(--main-color);
                color: var(--main-color-dark);
            }

            h2 {
                text-decoration: underline;
            }

            /* Enter and leave animations can use different */
            /* durations and timing functions.              */
            .slide-fade-enter-active {
                transition: all .3s ease;
            }

            .slide-fade-leave-active {
                transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
            }

            .slide-fade-enter,
            .slide-fade-leave-to

            /* .slide-fade-leave-active below version 2.1.8 */
                {
                transform: translateX(10px);
                opacity: 0;
            }

        </style>
    </head>

    <body>
        <div id="app"></div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            Vue.filter('formatted', function (date = new Date()) {
                if (!date) return ''
                let month = '' + (date.getMonth() + 1);
                let day = '' + date.getDate();
                let year = date.getFullYear();
                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;
                return [year, month, day].join('-');
            });
            Vue.filter('lun_dom_day', function (date = new Date()) {
                return date.getDay() == 0 ? date.getDay() - 1 : 6
            });
            Vue.component('day-selector-radio', {
                props: {
                    date: {
                        type: Date,
                        default: new Date()
                    },
                    'id': {
                        type: String
                    },
                    'label': {
                        type: String
                    },
                    'checked': {
                        type: Boolean
                    },
                    'onchangedate': {
                        type: Function
                    }
                },
                data: function () {
                    return {
                        count: 0,
                        selctedIndex: 0
                    }
                },
                template: `
        <div>
            <input 
                type="radio" 
                v-bind:id="id"
                name="date"
                style="
                    border:1px solid var(--main-color); 
                    background:transparent;
                    visibility:hidden;
                "
                v-bind:checked="checked"
                v-bind:value="date | formatted"
                v-on:change="onchangedate(date)"
            />
            <label 
                v-bind:for="id"
                style="
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 1;
                    vertical-align: middle;
                    margin-right:8px;
                "
            >{{label}}</label>
        </div>
    `
            });
            Vue.component('day-selector', {
                props: {
                    date: {
                        type: Date,
                        default: new Date()
                    },
                    'onchangedate': {
                        type: Function
                    },
                    selected_index: {
                        type: Number,
                        default: 0
                    }
                },
                computed: {
                    days: function () {
                        const today = new Date();
                        const weekday = new Array(7);
                        for (let i = 0; i < 7; i++) {
                            let date = new Date();
                            date.setDate(today.getDate() + (i - today.getDay()));
                            weekday[i] = {
                                date
                            }
                        }
                        weekday[0].label = 'mon';
                        weekday[1].label = 'tue';
                        weekday[2].label = 'wed';
                        weekday[3].label = 'thur';
                        weekday[4].label = 'fri';
                        weekday[5].label = 'sat';
                        weekday[6].label = 'sun';
                        return weekday
                    }
                },
                data: function () {
                    return {
                        count: 0,
                        selctedIndex: 0
                    }
                },
                template: `
    <form style="display:flex;">
            <day-selector-radio 
                v-for="(val, i) in days"  
                v-bind:id="'radio-'+i" 
                v-bind:key="'radio-'+i"  
                v-bind:date="val.date"
                v-bind:label="val.label"
                v-model="date"
                v-bind:onchangedate="onchangedate"
                v-bind:checked="Boolean(selected_index == i)"
            />
    </form>`
            });
            Vue.component('brightest-of-the-week-asteroids', {
                props: {
                    asteroids: {
                        type: Array,
                        default: () => new Array()
                    }
                },
                template: `
    <div>
        <div 
            v-for="(val, i) in asteroids"
            style="
                display: flex;
                align-items:center;
                padding: 32px;
            ">
                <div style="
                    width: 64px;
                    height:64px;
                    border:1px solid white;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    transform: rotate(-45deg);
                    box-sizing: border-box;
                    flex-shrink: 0;
                ">
                    <div 
                        style="
                            width:0px;
                            height:0px;
                            background-color: white;
                            display:flex;
                            justify-content:center;
                            align-items:center;
                        "
                        v-bind:style="{ 
                            width: val.scale * 64 + 'px',
                            height: val.scale * 64 + 'px'
                        }"
                    >
                            <div style="width:4px;height:4px; background-color: black;"></div>
                    </div>
                </div>
                <div style="margin-left: 50px;">
                    <div>Name: {{val.name}}</div>
                    <div>Diameter: {{val.estimated_diameter.kilometers.estimated_diameter_max}}</div>
                    <div>Magnitude: {{val.absolute_magnitude_h}}</div>
                </div>
            </div>
        </div>
    `,
            });
            Vue.component('scatter-plot', {
                computed: {
                    items: function () {
                        const x = 'velocity_kilometers_per_second';
                        const y = 'distance';
                        const d = 'diameter';
                        const scale = (v, min, max) => (v - min) / (max - min); // TODO Scale  factory https://thomaswilburn.github.io/viz-book/js-scaling.html
                        const items = this.asteroids;
                        return items.map((e, i, a) => {
                            const elements = a.map(e => e[x]);
                            const min = Math.min(...elements);
                            const max = Math.max(...elements);
                            e.x = scale(e[x], min, max);
                            return e;
                        }).map((e, i, a) => {
                            const elements = a.map(e => e[y]);
                            const min = Math.min(...elements);
                            const max = Math.max(...elements);
                            e.y = scale(e[y], min, max);
                            return e;
                        }).map((e, i, a) => {
                            const elements = a.map(e => e[d]);
                            const min = Math.min(...elements);
                            const max = Math.max(...elements);
                            e.d = scale(e[d], min, max);
                            return e;
                        })
                    }
                },
                props: {
                    date: {
                        type: Date,
                        default: new Date()
                    },
                    asteroids: {
                        type: Array,
                        default: function () {
                            return new Array();
                        }
                    }
                },
                template: `
    <div 
        style="
            position: relative;
            min-height: 400px;
            width: 100%;
            background: repeating-linear-gradient( 180deg, transparent, transparent 100px, #133443 100px, #133443 101px);
        "
    >
            <asteroid 
            v-for="(item, i) in items"
            v-bind:id="item.id"
            v-bind:key="item.id"
            v-bind:name="item.name"
            v-bind:diameter="item.diameter"
            v-bind:magnitude="item.magnitude"
            v-bind:velocity_kilometers_per_hour="item.velocity_kilometers_per_hour"
            v-bind:velocity_kilometers_per_second="item.velocity_kilometers_per_hour"
            v-bind:distance="item.distance"
            style="position: absolute;"
            v-bind:x="item.x"
            v-bind:y="item.y"
            v-bind:d="item.d"
        />
    </div>
    `
            });
            Vue.component('bubble', {
                props: {
                    minD: {
                        type: Number,
                        default: function () {
                            return 30
                        }
                    },
                    maxD: {
                        type: Number,
                        default: function () {
                            return 100
                        }
                    },
                    d: {
                        type: Number,
                        default: function () {
                            return 0
                        }
                    }
                },
                template: `
  <div 
    style="
        border:1px solid rgb(63, 119, 63); 
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    "
    v-bind:style="{
        width: d * (maxD - minD) + minD + 'px',
        height: d * (maxD - minD) + minD + 'px',
    }"
    >
                    <div style="
                        width: 4px; 
                        height: 4px;
                        background: var(--main-color);
                    border-radius: 50%;
                        "></div>
                </div>
                `
            })
            Vue.component('asteroid', {
                props: ['id', 'name', 'diameter', 'magnitude', 'velocity_kilometers_per_hour', 'velocity_kilometers_per_second', 'distance', 'x', 'y', 'd', ],
                data: function () {
                    return {
                        show: false
                    }
                },
                template: `
  <div
                    v-bind:style="{
                        top: 100 - (x * 100) + '%',
                        left: y * 100 + '%',
                        position: 'absolute'
                    }"
                    @mouseover="show = true"
                    @mouseleave="show = false"
  >
                <bubble
                    v-bind:style="{
                        transform: 'translate(-50%, -50%)',
                        position: 'absolute'
                    }"
                    v-bind:d="d"
                />
                <transition name="slide-fade">
                    <div 
                        v-if="show"
                        style="
                            border: 1px solid white;
                            padding:1em;
                            color: white;
                            background-color: rgba(0, 0, 0, 0.75);
                        ">
                        <div>Name: {{ name }}</div>
                        <div>Diameter: {{ diameter }} km</div>
                        <div>Magnitude: {{ magnitude }} h</div>
                        <div>Distance: {{ distance }} au</div>
                        <div>Velocity: {{ velocity_kilometers_per_hour }} km/h</div>
                </div>
                </transition>
            </div>
    `,
            });
            Vue.component('asteroids-of-the-day', {
                computed: {
                    minD: function () {
                        return Math.min(this.asteroids.map(e => e.diameter))
                    },
                    maxD: function () {
                        return Math.max(this.asteroids.map(e => e.diameter))
                    }
                },
                props: {
                    date: {
                        type: Date,
                        required: true
                    },
                    asteroids: {
                        type: Array,
                        default: () => new Array()
                    },
                    onchangedate: {
                        type: Function
                    }
                },
                template: `
  <div style="
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 16px;
    ">
        <h2>Asteroids of the day</h2>
        <div style="display: flex;
    
">
        <div style="flex-grow: 1;">
            <p>Select one day to update the chart:</p>
            <day-selector 
                v-bind:date="date"
                v-bind:onchangedate="onchangedate"
                v-bind:selected_index="date | lun_dom_day"
            />
        </div>
        <div>
            <h3>Diameter</h3>
            <div style="display: flex; align-items: center;">
                <div style="display: flex;align-items: center;">
                    <bubble v-bind:d="minD" />
                    <span style="margin-left:16px">Min km</span>
                </div>
                <div style="
                    display: flex;
                    align-items: center;
                    margin-left:110px;
                ">
                    <bubble 
                        v-bind:d="maxD" 
                        v-bind:style="{
                            position: 'absolute',
                            transform: 'translateX(-50%)'
                        }"
                    />
                    <span style="margin-left:16px">Max km</span>
                </div>
            </div>
        </div>
    </div>
        <scatter-plot
            v-bind:date="date"
            v-bind:asteroids="asteroids"
        />
        <div>
            <div>
                <span style="
                width: 25px;
                display: inline-block;
                margin-right: 10px;
                ">⬆</span>
                <span style="
                text-transform: uppercase;
                font-weight: bold;
                margin-right: 10px;
                ">Distance</span>
                <span>(au)</span>
            </div>
            <div style="border-top: 1px solid gray;">
                    <span style="
                    width: 25px;
                    display: inline-block;
                    margin-right: 10px;
                    ">➡</span>
                    <span style="
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-right: 10px;
                    ">Velocity</span>
                    <span>(km/s)</span></div>
        </div>
    </div>
    `
            });
            Vue.component('brightest-of-the-week', {
                props: {
                    asteroids: {
                        type: Array,
                        default: () => new Array()
                    }
                },
                template: `
  <div
                style="
                padding: 0 16px;
    border-left: 2px solid white;"
  >
        <h2>Brightest of the week</h2>
        <h3>Magnitude <span>(h)</span></h3>
        <div>
            <div style="    
            display: flex;
            align-items: center;">
                <div style="
                    width: 10px;
                    height:10px; 
                    box-sizing: border-box;
                    transform:rotate(45deg); 
                    background-color: transparent;
                    border: 1px solid white;
                "></div>
                <div style="margin-left: 8px;">Filled area: magnitude</div>
            </div>
            <div style="    
            display: flex;
            align-items: center;
            margin-top:8px;">
                <div style="
                    width: 10px;
                    height:10px; 
                    box-sizing: border-box;
                    transform:rotate(45deg); 
                    background-color: white;
                    border: 1px solid white;
                "></div>
                <div style="margin-left: 8px;">Empty area: brightness</div>
            </div>
        </div>
        <brightest-of-the-week-asteroids v-bind:asteroids="asteroids"></brightest-of-the-week-asteroids>
    </div>`
            })
            const app = new Vue({
                el: '#app',
                props: {
                    start_date: {
                        type: Date,
                        default: function () {
                            let date = new Date();
                            let day_of_the_week = date.getDay() ? date.getDay() - 1 : 6;
                            date.setDate(date.getDate() - date.getDay() + 1);
                            return date;
                        }
                    },
                    end_date: {
                        type: Date,
                        default: function () {
                            let date = new Date();
                            let day_of_the_week = date.getDay() ? date.getDay() - 1 : 6;
                            date.setDate(date.getDate() + (6 - day_of_the_week));
                            return date;
                        }
                    },
                },
                computed: {
                    brightest_of_the_week: function () {
                        return Object.values(this.near_earth_objects).flat(1).sort((a, b) => a.absolute_magnitude_h - b.absolute_magnitude_h).slice(0, 5).reverse().map((e, i, a) => {
                            const absolute_magnitude_hs = a.map(e => e.absolute_magnitude_h)
                            const min = Math.min(...absolute_magnitude_hs);
                            const max = Math.max(...absolute_magnitude_hs);
                            const scale = v => (v - min) / (max - min);
                            e.scale = scale(e.absolute_magnitude_h);
                            return e;
                        });
                    }
                },
                watch: {
                    date: function (newDate, oldDate) {
                        this.get_asteroids_of_the_day();
                    }
                },
                data: function () {
                    return {
                        near_earth_objects: {},
                        date: new Date(),
                        asteroids_of_the_day: new Array()
                    }
                },
                methods: {
                    get_asteroids_of_the_day() {
                        const formatted = Vue.filter('formatted');
                        const date = formatted(this.date);
                        const url = new URL('https://api.nasa.gov/neo/rest/v1/feed');
                        url.searchParams.set('start_date', date);
                        url.searchParams.set('end_date', date);
                        url.searchParams.set('api_key', 'Qum6yuCBnZO67fvlDRveXm4gdkqZsv3OnBbcqWzv');
                        axios.get(url).then(response => Promise
                                .all(Object.values(response.data.near_earth_objects[date]).map(e => axios.get(e.links.self)))
                                .then(values => this.asteroids_of_the_day = values
                                    .map(e => e.data)
                                    .map(e => Object.assign({}, {
                                        id: e.id,
                                        name: e.name,
                                        diameter: e.estimated_diameter.kilometers.estimated_diameter_max,
                                        magnitude: e.absolute_magnitude_h,
                                        velocity_kilometers_per_hour: e.close_approach_data[0].relative_velocity.kilometers_per_hour,
                                        velocity_kilometers_per_second: e.close_approach_data[0].relative_velocity.kilometers_per_second,
                                        distance: e.close_approach_data[0].miss_distance.astronomical,
                                    }))));
                },
                },
                mounted() {
                    this.get_asteroids_of_the_day();
                    const formatted = Vue.filter('formatted');
                    const start_date = formatted(this.start_date);
                    const end_date = formatted(this.end_date);
                    const date = formatted(this.date);
                    console.log(date, start_date, end_date);
                    console.assert(date >= start_date && date <= end_date);
                    const url = new URL('https://api.nasa.gov/neo/rest/v1/feed');
                    url.searchParams.set('start_date', start_date);
                    url.searchParams.set('end_date', end_date);
                    url.searchParams.set('api_key', 'Qum6yuCBnZO67fvlDRveXm4gdkqZsv3OnBbcqWzv');
                    axios.get(url).then(response => this.near_earth_objects = response.data.near_earth_objects);
                },
                template: `
                    <div 
                        id="app" 
                        style="display:flex; width: 100%;"
                    >
                        <asteroids-of-the-day 
                            v-bind:date="date"
                            v-bind:start_date="start_date"
                            v-bind:end_date="end_date"
                            v-bind:asteroids="asteroids_of_the_day"
                            v-bind:onchangedate="date => this.date = date"
                        />
                        <brightest-of-the-week 
                            v-bind:start_date="start_date"
                            v-bind:end_date="end_date"
                            v-bind:asteroids="brightest_of_the_week"
                        />
                    </div>
                    `
                });

        </script>
    </body>

</html>
