<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<style>
    :root {
  --main-color: green;
}
body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
color:white;
font-family: 'Montserrat', sans-serif;
text-rendering: optimizeLegibility;
font-smooth: always;
}
input + label {
    border: 1px solid white;
    background-color: transparent;
}
input:checked + label {
    border: 1px solid green;
    background-color: green;
}
h2 {
    text-decoration: underline;
}
</style>

</head>
<body>
<div id="app"></div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    Vue.filter('formatted', function (date = new Date()) {
        if (!date) return ''
        let month = '' + (date.getMonth() + 1);
        let day = '' + date.getDate();
        let year = date.getFullYear();
        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;
        return [year, month, day].join('-');
    });    
    Vue.component('day-selector-radio', {
    props: {
        date: {
            type: Date,
            default: new Date()
        },
        'id': {
            type: String
        },
        'label': {
            type: String
        },
        'checked': {
            type: String
        },
        'onchangedate': {
            type: Function
        }
    },
  data: function () {
    return {
      count: 0,
      selctedIndex: 0
    }
  },
  template: `
        <div>
            <input 
                type="radio" 
                v-bind:id="id"
                name="date"
                style="
                    border:1px solid green; 
                    background:transparent;
                    visibility:hidden;
                "
                v-bind:checked="checked"
                v-bind:value="date | formatted"
                v-on:change="onchangedate(date)"
            />
            <label 
                v-bind:for="id"
                style="
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 1;
                    vertical-align: middle;
                    margin-right:8px;
                "
            >{{label}}</label>
        </div>
    `
});
    Vue.component('day-selector', {
    props: {
        date: {
            type: Date,
            default: new Date()
        },
        'onchangedate': {
            type: Function
        }
    },
    computed: {
        days: function () {
            var today = new Date();
            var weekday = new Array(7);
            for (let i = 0; i < 7; i++) {
                let date = new Date();
                date.setDate(today.getDate()+(i - today.getDay()));
                weekday[i] = {
                    date
                }
            }
            weekday[0].label = 'mon';
            weekday[1].label = 'tue';
            weekday[2].label = 'wed';
            weekday[3].label = 'thur';
            weekday[4].label = 'fri';
            weekday[5].label = 'sat';
            weekday[6].label = 'sun';
            return weekday
        }
    },
    methods: {
        change(e){
            console.log(e)
        }
    },
  data: function () {
    return {
      count: 0,
      selctedIndex: 0
    }
  },
  template: `
    <form style="display:flex;">
            <day-selector-radio 
                v-for="(val, i) in days"  
                v-bind:id="'radio-'+i"  
                v-bind:date="val.date"
                v-bind:label="val.label"
                v-model="date"
                v-bind:onchangedate="onchangedate"
            />
    </form>`
});
Vue.component('brightest-of-the-week-asteroids', {
  data: function () {
    return {
        object: []
    }
  },
    mounted () {
        axios
        .get('https://api.nasa.gov/neo/rest/v1/feed?start_date=2015-09-07&end_date=2015-09-08&api_key=Qum6yuCBnZO67fvlDRveXm4gdkqZsv3OnBbcqWzv')
        .then(response => {
            this.object = Object.values(response.data.near_earth_objects)
                .flat(1)
                .sort(function(a, b) {
                    return a.absolute_magnitude_h - b.absolute_magnitude_h;
                })
                .slice(0,5)
                .reverse()
                .map((e,i,a) => {
                    var absolute_magnitude_hs = a.map(e => e.absolute_magnitude_h)
                    var min = Math.min(...absolute_magnitude_hs);
                    var max = Math.max(...absolute_magnitude_hs);
                    var scale = v => (v - min) / (max - min);
                    e.scale = scale(e.absolute_magnitude_h);
                    return e;
                })
        });
    },
  template: `
    <div>
        <div 
            v-for="(val, i) in object"
            style="
                display: flex;
                align-items:center;
                padding: 32px;
            ">
                <div style="
                    width: 64px;
                    height:64px;
                    border:1px solid white;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    transform: rotate(-45deg);
                    box-sizing: border-box;
                    flex-shrink: 0;
                ">
                    <div 
                        style="
                            width:0px;
                            height:0px;
                            background-color: white;
                            display:flex;
                            justify-content:center;
                            align-items:center;
                        "
                        v-bind:style="{ 
                            width: val.scale * 64 + 'px',
                            height: val.scale * 64 + 'px'
                        }"
                    >
                            <div style="width:4px;height:4px; background-color: black;"></div>
                    </div>
                </div>
                <div style="margin-left: 50px;">
                        {{val.scale}}
                    <div>Name: {{val.name}}</div>
                    <div>Diameter: {{val.estimated_diameter.kilometers.estimated_diameter_max}}</div>
                    <div>Magnitude: {{val.absolute_magnitude_h}}</div>
                    <div>Magnitude: {{val.absolute_magnitude_h_scale}}</div>
                </div>
            </div>
        </div>
    `,
});
Vue.component('asteroids-of-the-day', {
    props: {
        date: {
            type: Date,
            default: new Date()
        },
        start_date: {
            type: Date,
            default: function () {
                let date = new Date();
                date.setDate(date.getDate() - date.getDay() + 1);
                return date;
            }
        },
        end_date: {
            type: Date,
            default: function () {
                let date = new Date();
                date.setDate(date.getDate() + (7 - date.getDay()));
                return date;
            }
        },
    },
data () {
    return {
        info: null
    }
  },
  template: `
    <div style="
        position: relative;
        min-height: 400px;
        width: 100%;
        background-image: linear-gradient(0deg, #98CD8D 5.56%, rgba(0,0,0,0) 5.56%, rgba(0,0,0,0) 50%, #98CD8D 50%, #98CD8D 55.56%, rgba(0,0,0,0) 55.56%, rgba(0,0,0,0) 100%);
        background-size: 72.00px 72.00px;
    ">
        <asteroid 
            v-for="(item, i) in info"
            v-bind:id="item.id"
            v-bind:asteroid-id="item.id"
            v-bind:key="item.id"
        />
    </div>
    `,
    mounted () {
        let formatted = Vue.filter('formatted');
        let url = new URL('https://api.nasa.gov/neo/rest/v1/feed');
        url.searchParams.set('start_date', formatted(this.start_date));
        url.searchParams.set('end_date', formatted(this.end_date));
        url.searchParams.set('api_key','Qum6yuCBnZO67fvlDRveXm4gdkqZsv3OnBbcqWzv');
        axios
        .get(url)
        .then(response => {
            this.info = response.data.near_earth_objects[formatted(this.date)];
        });
    }
});  
Vue.component('asteroid', {
  props: ['asteroidId'],
  data () {
    return {
      name: null,
      diameter: null,
      magnitude: null,
      velocity: null
    }
  },
  template: `
  <div 
                style="
                    position: absolute; 
                    left: 10%; top: 30%;"
            >
                <div style="
                    border:1px solid rgb(63, 119, 63); 
                    width:100px; 
                    height:100px;
                    box-sizing: border-box;
                    border-radius: 50%;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    justify-content: center;
                    transform: translate(-50%, -50%);
                    position: absolute;
                ">
                    <div style="
                        width:10px; 
                        height:10px;
                        background: green;
                    border-radius: 50%;
                        "></div>
                </div>
                <div style="
                border: 1px solid white;
                padding:1em;
                color: white;
                background-color: rgba(0, 0, 0, 0.5);
                ">
                        <div>Name: {{ name }}</div>
                        <div>Diameter: {{ diameter }} km</div>
                        <div>Magnitude: {{ magnitude }} h</div>
                        <div>Distance: XXX au</div>
                        <div>Velocity: {{ velocity }} km/h</div>
                </div>
            </div>
    `,
    mounted () {
        axios
        .get(`https://api.nasa.gov/neo/rest/v1/neo/${this.asteroidId}?api_key=Qum6yuCBnZO67fvlDRveXm4gdkqZsv3OnBbcqWzv`)
        .then(response => {
            this.name = response.data.name;
            this.diameter = response.data.estimated_diameter.kilometers.estimated_diameter_max;
            this.magnitude = response.data.absolute_magnitude_h;
            this.velocity = response.data.close_approach_data.find(e=>e.close_approach_date=='2015-09-07').relative_velocity.kilometers_per_hour;
        });
    }
});  
var app = new Vue({
  el: '#app',
  data: function () {
        return { 
            date: new Date()
         }
    },
  template: `<div 
    id="app" 
    style="display:flex; width: 100%;"
    >
    <div style="
    display: flex;
    flex-direction: column;
    height: 100%;
">
        <h2>Asteroids of the day</h2>
        <div style="display: flex">
        <div>
            <p>Select one day to update the chart:</p>
            {{date}}
            <day-selector 
                v-bind:date="date"
                v-bind:onchangedate="date => this.date = date"
            />
        </div>
        <div>
            <h3>Diameter</h3>
            <div style="display: flex; align-items: center;">
                <div style="display: flex;align-items: center;">
                        <div style="display: flex;align-items: center;">
                                <div style="
                                    border:1px solid rgb(63, 119, 63); 
                                    width:100px; 
                                    height:100px;
                                    box-sizing: border-box;
                                    border-radius: 50%;
                                    display: flex;
                                    align-content: center;
                                    align-items: center;
                                    justify-content: center;
                                ">
                                    <div style="
                                        width:10px; 
                                        height:10px;
                                        background: green;
                                    border-radius: 50%;
                                        "></div>
                                </div>
                            <span>Min km</span>
                        </div>
                <div style="display: flex;align-items: center;">
                        <div style="
                            border:1px solid rgb(63, 119, 63); 
                            width:100px; 
                            height:100px;
                            box-sizing: border-box;
                            border-radius: 50%;
                            display: flex;
                            align-content: center;
                            align-items: center;
                            justify-content: center;
                        ">
                            <div style="
                                width:10px; 
                                height:10px;
                                background: green;
                            border-radius: 50%;
                                "></div>
                        </div>
                    <span>Max km</span>
                </div>
                </div>
            </div>
        </div>
    </div>
        <asteroids-of-the-day
            v-bind:date="date"
        ></asteroids-of-the-day>
        <div>
            <div>
                <span style="
                width: 25px;
                display: inline-block;
                margin-right: 10px;
                ">⬆</span>
                <span style="
                text-transform: uppercase;
                font-weight: bold;
                margin-right: 10px;
                ">Distance</span>
                <span>(au)</span>
            </div>
            <div style="border-top: 1px solid gray;">
                    <span style="
                    width: 25px;
                    display: inline-block;
                    margin-right: 10px;
                    ">➡</span>
                    <span style="
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-right: 10px;
                    ">Velocity</span>
                    <span>(km/s)</span></div>
        </div>
    </div>
    <div>
        <h2>Brightest of the week</h2>
        <h3>Magnitude <span>(h)</span></h3>
        <div>
            <div style="display: flex; color: white">
                <div style="
                    width: 10px;
                    height:10px; 
                    box-sizing: border-box;
                    transform:rotate(45deg); 
                    background-color: transparent;
                    border: 1px solid white;
                "></div>
                <div>Filled area: magnitude</div>
            </div>
            <div style="display: flex; color: white">
                <div style="
                    width: 10px;
                    height:10px; 
                    box-sizing: border-box;
                    transform:rotate(45deg); 
                    background-color: white;
                    border: 1px solid white;
                "></div>
                <div>Empty area: brightness</div>
            </div>
        </div>
        <brightest-of-the-week-asteroids></brightest-of-the-week-asteroids>
    </div>
</div>`
});
</script>
</body>
</html>