
  main {
    display: initial;
    width: auto;
    flex-wrap: nowrap;
  }

  @media (max-width: 800px) {
    main {
      flex-direction: column;
    }
  }

  body {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, #0a1e1a 0%, #19435e 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 12px;
    font-weight: 400;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    margin-top: 0px;
    max-width: 100%;
    padding: 1em;
  }

  img {
    max-width: 100%;
  }

  input+label {
    border: 1px solid white;
    background-color: transparent;
    padding:initial;
  }
  button {
    border: 1px solid white;
    background-color: transparent;
    padding:1em;
    color: white;
  }
  button:hover {
    border-color: rgb(42,245,152);
    color: rgb(42,245,152);
  }
  button:active {
    border-color: rgb(42,245,152);
    color: rgb(42,245,152);
  }
  button[checked] {
    border-color: rgb(42,245,152);
    color: rgb(42,245,152);
  }
  input+label:hover {
    border-color: rgb(42,245,152);
    color: rgb(42,245,152);
  }

  input:checked+label {
    border: 1px solid rgb(42,245,152);
    background-color: rgb(42,245,152);
    color: rgb(10,30,26);
  }

  .radio {
    border: 1px solid rgb(42,245,152);
    background: transparent;
    visibility: hidden;
    position: absolute;
  }

  h2 {
    text-decoration: none;
  }

  /* Enter and leave animations can use different */
  /* durations and timing functions.              */
  .slide-fade-enter-active {
    transition: all .3s ease;
  }

  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .slide-fade-enter,
  .slide-fade-leave-to

  /* .slide-fade-leave-active below version 2.1.8 */
    {
    transform: translateX(10px);
    opacity: 0;
  }

  aside {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(100%/3);
  }

  .bubble {
    border: 1px solid rgb(42,245,152);
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-shadow: inset 0 0 16px rgb(25, 67, 94),
      0 0 16px rgb(42,245,152);
    z-index: 0;
  }

  .bubble .point {
    width: 4px;
    height: 4px;
    background: rgb(42,245,152);
    border-radius: 50%;
  }

  .tooltip {
    border: 1px solid white;
    padding: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 1.5;
    white-space: nowrap;
    z-index: 1;
    position: absolute;
  }

  .scatter-plot {
    position: relative;
    min-height: 400px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    justify-items: stretch;
    height: 100px;
    padding: 48px;
    border: 1px solid;
  }

  .scatter-plot .container {
    position: relative;
    flex: 1;
    padding: 50px;
    border: 1px solid;
  }

  th,
  td {
    padding: 0.25em;
    text-align: left;
  }

  table {
    display: block;
  }
footer{
  background: white;
  color:black;
}
.error {
  color: white;
  border: 1px solid red;
  padding: 1em;
  background: red;
}
.max[coordinate="x"]{
  position: absolute;
  left: 0;
  top: 0;
}
.min[coordinate="x"]{
  position: absolute;
  left: 0;
  bottom: 0;
}
.max[coordinate="y"]{
  position: absolute;
  right: 0;
  bottom: 0;
}
.min[coordinate="y"]{
  position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(10px);
}

header {
  border: 1px solid;
}
circle {
  stroke: aliceblue;
  stroke-width: 1;
}
line {
  stroke: darkcyan;
  stroke-width: .25;
}